.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.GifsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.Item {
  /* min-width: 30%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  margin: 1%;
  border-style: solid;
  border-color: lightblue;
}

.CopyButton {
  max-width: 100px;
}
